@HEADERHEIGHT: 50px;
@FOOTERHEIGHT: 40px;
@LINKFONTSIZE: 15px;
@FOOTERTEXTSIZE: 15px;

@LOGOSIZE: 40px;
@COLOR1: #254336;
@COLOR2: #6B8A7A;
@COLOR3: #B7B597;
@COLOR4: #DAD3BE;

.card-text
{

    line-height: 1.2; 
    margin-bottom: 0;
}


.custom-card{

    background-color: @COLOR2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.news_title
{
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    margin-bottom: 0.25rem;
    background-color: @COLOR2;
    width: 110%;
    color: @COLOR4;
    text-align: center;
    // height: 20px;
    width: 95%;
}

.news_description
{
    margin: 0 0;
    text-align: center;
    width: 110%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: @COLOR2;
    color: @COLOR4;
    width: 95%;
    height: 100%;

}

.content2{
    flex: 1 1 auto;
    padding-top: @HEADERHEIGHT;
    display: flex;
    flex-direction: column;
    justify-content: start;
    // background-color: black;
}



.title{
    text-align: center;
    font-size: 50px;
    color: @COLOR1;
}


.bord
{
    background-color: @COLOR2;
}



.custom-card-header
{
    width: 20rem;
    background-color: @COLOR2;
}

.category_title{

    margin: 0 10px;
    font-size: 50px;
    color: @COLOR1;
}


.scrolling-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.card {
    min-width: 200px;
    margin-right: 10px;
    
}


